node_modules
npm-debug.log
client/node_modules
client/build
client/.env
.env
.git
.gitignore
*.md
.DS_Store
*.log
.vscode
.idea
*.db
*.sqlite
*.sqlite3
server/database/*.db
server/database/*.sqlite
server/database/*.sqlite3

